In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np

# Importing the data

In [2]:
data = pd.read_csv('data.csv')

/Users/saakethkoka/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0
3,12188929,15750,0.0,0.0,1.0,1.0,0.0,53870.4,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.135182,0.631355,NaN,1700.0,3.0,0
4,12133385,33750,1.0,0.0,1.0,0.0,2.0,133988.4,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.2021,674.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121851,12207714,29250,0.0,0.0,NaN,1.0,0.0,107820,3165.3,Relative,...,Yes,No,Business Entity Type 2,NaN,0.173527,0.184116,0.0577,0.0,1.0,1
121852,12173765,15750,0.0,1.0,1.0,0.0,0.0,104256,3388.05,Alone,...,Yes,Yes,Self-employed,NaN,0.371559,0.406617,0.0825,4.0,0.0,0
121853,12103937,8100,0.0,1.0,0.0,1.0,1.0,55107.9,2989.35,Alone,...,No,No,Trade: type 6,0.169049,0.048079,NaN,NaN,0.0,NaN,0
121854,12170623,38250,1.0,1.0,0.0,1.0,0.0,45000,2719.35,Alone,...,Yes,Yes,Business Entity Type 3,0.182737,0.103538,0.0774985,0.0979,0.0,2.0,0
121855,12105610,9000,1.0,1.0,1.0,1.0,1.0,62428.95,4201.65,Alone,...,Yes,Yes,Business Entity Type 3,NaN,0.556414,0.298595,0.1031,805.0,0.0,0

In [4]:
# Print out % of that is missing in each column:
for col in data.columns:
    pct_missing = np.mean(data[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

ID - 0%
Client_Income - 3%
Car_Owned - 3%
Bike_Owned - 3%
Active_Loan - 3%
House_Own - 3%
Child_Count - 3%
Credit_Amount - 3%
Loan_Annuity - 4%
Accompany_Client - 1%
Client_Income_Type - 3%
Client_Education - 3%
Client_Marital_Status - 3%
Client_Gender - 2%
Loan_Contract_Type - 3%
Client_Housing_Type - 3%
Population_Region_Relative - 4%
Age_Days - 3%
Employed_Days - 3%
Registration_Days - 3%
ID_Days - 5%
Own_House_Age - 66%
Mobile_Tag - 0%
Homephone_Tag - 0%
Workphone_Working - 0%
Client_Occupation - 34%
Client_Family_Members - 2%
Cleint_City_Rating - 2%
Application_Process_Day - 2%
Application_Process_Hour - 3%
Client_Permanent_Match_Tag - 0%
Client_Contact_Work_Tag - 0%
Type_Organization - 3%
Score_Source_1 - 56%
Score_Source_2 - 5%
Score_Source_3 - 22%
Social_Circle_Default - 51%
Phone_Change - 3%
Credit_Bureau - 15%
Default - 0%

In [5]:
len(data.columns)

40